<main>
  <section>
    <mat-card></mat-card>
    <mat-list>
      <mat-list-item><h1>Welcome to Clarck Realty</h1></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><h2>We help you find the house of your dreams</h2></mat-list-item>
    </mat-list>
  </section>
</main>
<mat-toolbar><h1>Let me help you</h1></mat-toolbar>

<aside><div class="flex">
<h1>Let's talk</h1>
<h2>Let me guide you through your options
   and help you make more informed decisions about
    your home.If you want to sell, rent or buy
    a house, I am the right person to help you!.
    I have 20 years of real estate experience and
    I can advise you by showing you the best investment for your future, such
    as buying, selling, or renting a house or property, I am always at your service.
  </h2>
</div></aside>

<div class="foto">
</div>
<mat-toolbar><h1>WHAT DO YOU NEED HELP WITH?</h1></mat-toolbar>
<div class="company">
<ul>
  <li><h3>RENT</h3></li>
  <li><h3>BUY</h3></li>
  <li><h3>SELL</h3></li>
</ul>
</div>
<div class="info">
<h2>BLANCA DUARTE</h2>
<h2>REALTOR</h2>
<h2>PHONE:(210)400-8148</h2>
<h2>bduarte@clarckrealtysa.com</h2>
<h2>ClarkRealtySA.com</h2>
</div>
<mat-toolbar><h4>DSwiess</h4></mat-toolbar>

